<view class="container">

  <view class="header">
    <view class="title">
      <text>WXMPUI</text>
    </view>
  </view>

  <view class="list-box">
    <view class="ititle"><text>组件列表</text></view>
    <view class="list">
      <view class="item" wx:for="{{ componentLists }}" wx:key="this">
        <navigator class="name" url="{{item.path}}">{{item.name}}</navigator>
        <text class="icon-arrow-right"></text>
      </view>
    </view>
    <view  class="ititle"><text>交互功能</text></view>
    <view class="list">
      <view class="item" wx:for="{{ funclist }}" wx:key="this">
        <navigator class="name" url="{{item.path}}">{{item.name}}</navigator>
        <text class="icon-arrow-right"></text>
      </view>
    </view>
  </view>

</view>
